<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Potter</title>
</head>
<body>
    <header>
        <img src="/images/mele.png" alt="Algo no ta funcando">
        <p>Lugar para poner la barra de busqueda (nav)</p>
        <p class="cuota">Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <br>
                
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="300" height="300" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>

            <img src="/images/img-macbook-pro-2019.jpg" width="300" height="300" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><strong>MacBook Pro 2019</strong></p>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><strong>Samsung Galaxy S10</strong></p>

            <img src="/images/img-tv-samsung-smart.jpg" width="300" height="300" alt="">
            <p>$23200</p>
            <p>5% OFF</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
        </section>

        <section>
            <h2>Sección de Ofertas</h2>
            <img src="/images/img-cafetera-moulinex.jpg" width="300" height="300" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>

            <img src="/images/img-macbook-pro-2019.jpg" width="300" height="300" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><strong>MacBook Pro 2019</strong></p>

            <img src="/images/img-samsung-galaxy-s10.jpg" width="300" height="300" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><strong>Samsung Galaxy S10</strong></p>

            <img src="/images/img-tv-samsung-smart.jpg" width="300" height="300" alt="">
            <p>$23200</p>
            <p>5% OFF</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
        </section>

        <footer>
            <section>
                <strong>Pagá con tarjeta o efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <strong>Envío gratis desde $ 2.500</strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <strong>Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>

            <section>
                <strong>● Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
            </section>
        </footer>
    
    </main>
</body>