<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" >    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>MeliLiebre/home</title>
</head>
<body>
<header>
    <div class="top-header">
        <img class="logo"src = "/images/logo-mercado-liebre.svg" alt= "logo-mercado-liebre"width="350px">
    <div class="buscador">
        <div class="input">Buscar productos, marcas</div>
        <div class="lupa"><i class="fa fa-search"></i></div>
    </div>
    </div>

<P></i>Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i></P> 

<nav>
    <ul>
        <li>
            <a href="#">Ofertas</a>
        </li>
        <li>
            <a href="#">Tiendas Oficiales</a>
        </li>
        <li>
            <a href="#">Vender</a>
        </li>
        <li>
          <a href="#">Ayuda</a>
        </li>
    </ul>

    <ul>
        <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
</nav>

<div class="burger-menu">
    <i class="fa fa-bars burger"></i>
</div>

</header>
<section>
    
    <img class="banner-img" src="/images/img-home-banner.jpg" alt=" banner" width="100vw">

</section>
<main>

    <section> 
        <h3>Basado en tu última visita</h3>
        <div class="productos">
            <article>
            <img src = "/images/img-cafetera-moulinex.jpg" alt="prod"width="350px">
            <div class="info-article">  
            <i class="fas fa-truck"></i>
        
            <p class="precio">$6770</p>
            <p class="descuento">40% OFF</p>
            <h4 class="desc-prod">Cafetera Moulinex</h4>
            </div>    
        </article>

        <article>
                <img src = "/images/img-macbook-pro-2019.jpg" alt="prod"width="350px">
            <div class="info-article">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20%</p>
                <h4 class="desc-prod">MacBook Pro 2019</h4>
            </div>   
        </article>

        <article>
            <img src = "/images/img-samsung-galaxy-s10.jpg" alt="prod"width="350px">
            <div class="info-article">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="desc-prod">Samsung Galaxy S10</h4>
            </div>   
        </article>

        <article>
            <img src = "/images/img-tv-samsung-smart.jpg" alt="prod"width="300px">
            <div class="info-article">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4 class="desc-prod">Smart TV Samsung 43"</h4>
            </div>   
        </article>
        </div>

    <section>
        <h3>Sección de ofertas</h3>
            <div class="productos">
        <article>
                <img src = "/images/img-cafetera-moulinex.jpg" alt="prod"width="350px">
                <div class="info-article">
        
                <i class="fas fa-truck"></i>
                <p class="precio">$6770</p>
                <p class="descuento">40% OFF</p>
                <h4 class="desc-prod">Cafetera Moulinex</h4>
            </div>     

        </article>

        <article>
        <img src = "/images/img-macbook-pro-2019.jpg" alt="prod"width="350px">
            <div class="info-article">
            
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <h4 class="desc-prod">MacBook Pro 2019</h4>
            </div> 
        </article>

        <article>
        <img src = "/images/img-samsung-galaxy-s10.jpg" alt="prod"width="350px">
            <div class="info-article"> 
        
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h4 class="desc-prod">Samsung Galaxy S10</h4>
            </div>   
        </article>

        <article>
        <img src = "/images/img-tv-samsung-smart.jpg" alt="prod"width="300px">
            <div class="info-article">
        
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h4 class="desc-prod">Smart TV Samsung 43"</h4>
            </div>  
        </article>
            </div>

    </section>

</main>
    
<footer>

    <article>
    <div class= "credit-card"><i class="fas fa-credit-card"></i></div>
    <h3>Pagá con tarjeta o en efectivo</h3>

    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

    </article>

    <article>
    <div class = "gift"><i class="fas fa-gift"></i></div>
    <h3>Envío gratis desde $ 2.500</h3>

    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>

    </article>
    <article>
    <div class= "shield"><i class="fas fa-user-shield"></i></div>
    <h3>Seguridad, de principio a fin</h3>

    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>

    </article>

    <h5>Copyright © 1999-20200 MercadoLiebre S.R.L.</h5>>
</footer>
</body>
</html>