/*Iniciar css desde cero con clases de playground*/

/*Borrar la mayoria menos top y nav. Ver Flexbox margen derecho. Hover, /*

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}


.titulares{
   font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
}

header div.buscador .input{
    background-color: white;
    width: max-content;
    border: solid 1px black;
    color: grey;
}

header .buscador .lupa { 
    background-color: white;
    width: max-content;
    border: solid 1px black;
    color: grey;
}

header p{
    text-align: center;
}

header nav ul li a{
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
}

header nav ul li{
    list-style-type: none;
    text-align: left;
}

header div.burger-menu i{
    background-color: #1259c3;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    width: max-content;
    border: radia ;
    color: white;
    border-radius: 5px;
    text-align: center;
}

header div.burger-menu{
    text-align: center;
}

footer section{
    text-align: center;
    color: #666;
}
footer section div{
    margin-bottom: 10px;
}

footer section div i{
    color: #1259c3;
    font-size: 2em;
}


footer section{
    margin: 100vw;
    text-align: center;
}

main{
    width: 90vw;
    text-align: center;
}

header{
    width: 100vw;
}

.banner{
     width: 100vw;
}

main section article {
    margin-bottom: 10px;
}

main section div.info-article{
    border-top: 1px solid #ebebee;
    padding: 15px
}


main section div div i{
    width: 40px;
    height: 40px;
    border: solid 1px green;
    border-radius: 100%;
    color: #39b5aa4a;
}
.descripcion{
    display: none;
}
@media (min-width: 361px){
    .descripcion{
        display: block;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        
    }
    header nav{
        display: none;
    }
}

@media (min-width: 769px){


}